/*========================================================================================================
================================ Header Scss ===================================================================
===========================================================================================================*/
header {
  @include full-width;
  background: $yellow;
  margin-bottom: -1px;

  &.panier-bg + .mobile-search {
    top: 90px;
  }
}

.navbar-custom {
  border: none;
  margin-bottom: 0;
}

//top-head
.top-head {
  @include full-width;
  background-image: url(../img/head-bg.png);
  background-size: cover;
  padding: 19px 0 75px;
  background-position: right;

  @include mq(min, 1650) {
    background-image: url(../img/head-bg1600.png);
    padding-bottom: 82px;
  }

  @include mq(max, 991) {
    background: $black;
    margin-bottom: 15px;
    padding-bottom: 20px;
  }
}

//logo-head
.logo-head {
  @include mq(max, 767) {
    //margin-bottom: 30px;
  }

  img {
    margin-bottom: 8px;
  }

  p {
    font-size: 11px;
    @include montserrat(regular400);
    color: $white;
    text-transform: uppercase;
    @include mq(min, 992) {
      letter-spacing: -0.12px;
    }
  }
}

//login-cart
.login-cart {

  @include mq(max, 330) {
    float: none !important;
  }

  ul {
    li {
      display: flex;
      position: relative;
      height: 36px;
      align-items: center;
      margin: 0 8px;
      padding-right: 8px;

      @include mq(max, 374) {
        margin: 0 5px;
        padding-right: 5px;
      }

      &:after {
        content: '';
        position: absolute;
        right: 0;
        height: 27px;
        width: 1px;
        background: #ccc;
        top: 5px;
      }

      &:first-child {
        margin-left: 0;
        width: 185px;

        a {
          .img-top {
            width: 36px;
            top: 6px;
          }
        }
      }

      //user-login
      &.user-login{
        //width: 145px;
        padding-bottom: 12px;

        //dropdown-item
        a.dropdown-item{
          font-size: 11px;
          color: $lblk-button;
          @include montserrat(bold700);
        }
      }

      &:nth-child(2) {
        a {
          .img-top {
            position: relative;
            top: 2px;
          }
        }
      }

      &:last-child {
        margin-right: 0;
        padding-right: 0;

        &:after {
          content: none;
        }

        .notification-num {
          top: -7px;
        }
      }

      a {
        font-size: 14px;
        color: $lblk-button;
        display: block;
        white-space: nowrap;
        @include montserrat(medium500);
        position: relative;


        @include mq(max, 991) {
          color: $white;
        }

        .img-top {
          max-width: 100%;
          float: left;

          img {
            display: inline-block;

            &.white-icon {
              display: none;

              @include mq(max, 991) {
                display: block;
              }
            }

            &.black-icon {
              display: block;

              @include mq(max, 991) {
                display: none;
              }
            }

          }
        }

        //mon-compte
        .mon-compte {
          color: $yellow;
          margin-bottom: -4px;
        }

        //notification-num
        .notification-num {
          position: relative;
          width: 18px;
          height: 18px;
          background: #f1ab00;
          border-radius: 100%;
          color: #fff;
          top: -8px;
          text-align: center;
          font-size: 11px;
          @include arial(bold700);
          display: flex;
          justify-content: center;
          align-items: center;
          left: -2px;
          line-height: 18px;

          @include mq(max, 359) {
            margin: 0 auto;
            top: -35px;
          }
        }

        //identifiez-vous
        .identifiez-vous {
          font-size: 11px;
          color: $lblk-button;
          @include montserrat(bold700);

          @include mq(max, 991) {
            color: $white;
          }
        }

        .mon-compte {
          display: block;
        }
      }
    }
  }
}


/*========================================================================================================
================================FOOOTER===================================================================
===========================================================================================================*/
.footer-top {
  @include full-width;
  background: $black;
  padding: 60px 0 30px;

  //footer-menu
  .footer-menu {
    @include roboto(regular400);

    @include mq(max, 991) {
      margin-bottom: 30px;
    }

    h3 {
      font-size: 14px;
      text-transform: uppercase;
      color: $yellow;
      margin-bottom: 28px;

      @include mq(max, 991) {
        margin-bottom: 20px;
      }
    }

    ul {
      a {
        color: rgba(255, 255, 255, 0.67);
        font-size: 14px;
        display: block;
        margin-bottom: 5px;

        &:hover {
          color: $white;
        }
      }
    }

    img {
      width: 138px;
    }

    &.footer-logo {
      h3 {
        color: $white;
      }

      ul {
        margin-bottom: 25px;

        a {
          color: $white;

          &:hover {
            color: $yellow;
          }
        }
      }
    }
  }
}


//footer-middle
.footer-middle {
  @include full-width;
  padding: 25px 0 20px;

  p {
    font-size: 13px;
    @include arial(regular400);
    letter-spacing: 1px;

    @include mq(max, 767) {
      line-height: 1.4;
      letter-spacing: 0.4px;
    }


    img {
      display: inline-block;
      position: relative;
      top: -7px;
      margin-right: 10px;
      margin-left: 5px;

      @include mq(max, 767) {
        top: 0;
      }
    }

    span {
      color: $orange;
      text-transform: uppercase;
    }
  }
}

//footer-bottom
.footer-bottom {
  @include full-width;
  background: $yellow;
  padding: 20px 0;

  @include mq(max, 767) {
    padding-bottom: 30px;
  }

  p {
    font-size: 10.99px;
    color: $black;
    letter-spacing: 0.4px;

    a {
      color: $black;

      &:hover {
        color: $white;
      }
    }
  }
}


/*========================================================================================================
================================ Right Side icon ===================================================================
===========================================================================================================*/
//right-sideIcon
.right-sideIcon {
  position: fixed;
  background: $black;
  right: -58px;
  top: 26%;
  z-index: 99;
  padding: 76px 15px;
  @include transition(.5s);

  @include mq(min, 1480) {
    right: 0;
  }

  &.slide {
    right: 0;
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      padding-bottom: 20px;
      border-bottom: 1px solid $white;
      margin-bottom: 20px;

      &:last-child {
        border-bottom: none;
        padding-bottom: 0;
        margin-bottom: 0;
      }

      a {
        img {
          width: 100%;
        }
      }
    }
  }

  //angle-double-left
  .fa.fa-angle-double-left {
    position: absolute;
    left: -35px;
    top: 50%;
    transform: translateY(-50%);
    background: $black;
    padding: 10px 14px;
    border-radius: 22px 0 0 22px;
    font-size: 24px;
    color: $white;
    opacity: .5;
    cursor: pointer;

    @include mq(min, 1480) {
      display: none;
    }

    &:hover {
      opacity: 1;
    }

  }
}

/*========================================================================================================
================================ Search menu section ===================================================================
===========================================================================================================*/

@include mq(min, 768) {
  .mobile-search {
    display: none;
  }
}

//wrap-search
.wrap-search {
  margin: 0;
  display: inline-block;
  height: auto;
  float: right;
  padding: 0;
  position: relative;
  width: 158px;
  z-index: 999;

  @include mq(max, 1260) {
    position: absolute;
    top: 0;
    right: 0;

    label.rechercher {
      display: none;
    }
  }

  @include mq(max, 767) {
    display: none;
  }

  label {
    position: absolute;
    top: 17px;
    font-size: 12px;
    cursor: pointer;
  }

  input[type="text"], input[type="submit"] {
    height: 40px;
    border: none;
    position: absolute;
    top: 5px;
    right: 15px;
    cursor: pointer;
  }

  input[type="text"] {
    outline: none;
    color: $black;
    padding: 3px;
    padding-right: 25px;
    padding-left: 20px;
    width: 0;
    background: none;
    z-index: 99;
    transition: width 0.4s cubic-bezier(0, 0.795, 0, 1);
    border-radius: 22px 0 0 22px;

    &.colorChange {
      &::placeholder {
        color: transparent;
      }
    }


    &:focus {
      width: 700px;
      z-index: 1;
      border-bottom: 1px solid $white;
      cursor: text;
      background: $white;

      input[type="submit"] {
        background-color: $orange;
      }
    }
  }


  input[type="submit"] {
    text-indent: -10000px;
    background: url(../img/search-icon.png) center center no-repeat;
    z-index: 2;
    opacity: 1;
    transition: opacity .4s ease;
    padding: 0 25px;

    &:hover {
      opacity: 1;
    }

    &:focus {
      outline: none;
      background-color: $orange;
      z-index: 999;
    }

    &.active {
      background-color: $orange;
    }
  }
}


