//img-products
.img-products {
  @include full-width;
  margin-bottom: 30px;


  //owl-prev
  .owl-prev {
    position: absolute;
    top: 50%;
    right: auto;
    transform: translateY(-50%);
    left: -15px;
  }

  //owl-next
  .owl-next {
    position: absolute;
    top: 50%;
    right: -15px;
    transform: translateY(-50%);
  }
}


//big
#big {
  background: $white;
  margin-bottom: 25px;

  .item {
    max-width: 370px;
    height: 493px;
    margin: 0 auto;
    position: relative;

    img {
      width: auto;
      height: 100%;
    }
  }

  //counter
  .counter {
    @include montserrat(medium500);
    color: $white;
    background: $black;
    text-align: center;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 35px;
    border-radius: 22px;
  }
}

//thumbs
#thumbs {
  width: 330px;
  margin: 0 auto;

  @include mq(max, 425) {
    width: 100%;
  }

  .item {
    width: 95px;
    height: 76px;
    margin: 0 auto 15px;
    border: 1px solid $border;
    background: $white;
    position: relative;
    cursor: pointer;

    @include mq(max, 425) {
      width: 70px;
    }


    img {
      height: 100%;
      width: auto;
      margin: 0 auto;
    }
  }


  .current {
    .item {
      border-color: $yellow;
    }
  }
}

//end-img-products
//product-description
.product-description {
  padding: 0 60px;

  @include mq(max, 992) {
    padding: 0 30px;
  }

  @include mq(max, 767) {
    padding: 0 15px;
  }

  h3 {
    font-size: 19px;
    @include arial(bold700);
    margin-bottom: 30px;
  }

  p {
    font-size: 15px;
    @include arial(regular400);
    color: rgba(0, 0, 0, 0.67);
    margin-bottom: 30px;
    line-height: 1.5;
    letter-spacing: 0.3px;

    strong {
      color: $black;
      font-weight: 700;
    }
  }

  h4 {
  }

  //media
  .media {
  }

  .media-left {
    padding-right: 18px;

    img {
      max-width: none;
    }
  }

  //media-body
  .media-body {
    h5 {
      font-size: 17px;
      @include arial(regular400);
      color: $black;
      margin-bottom: 5px;

      &.clr-yellow {
        display: block;
        color: $darkred;
      }
    }

    ul {
      display: block;
      border: none;

      li {
        display: inline-block;
        border: none;
        padding: 0;
        width: auto;
        cursor: pointer;

        i.fa {
          color: $yellow;
        }

        p {
          span {
            margin-top: 0;
            color: $black;
            font-weight: 400;
            font-size: 14px;
            margin-left: 3px;
          }
        }
      }
    }
  }
}

//btn-border
.btn-border {
  @include montserrat(medium500);
  font-size: 15px;
  text-transform: uppercase;
  color: $black;
  border: 1px solid $border;
  float: right;
  border-radius: 0;
  padding: 10px 70px;
  letter-spacing: 0.2px;

  &:hover {
    background: $lblk-button;
    color: $white;

  }

  @include mq(max, 767) {
    float: none;
    margin: 0 auto 30px;
    width: 100%;
    padding: 10px 15px;
  }
}

//product-ul
.product-ul {
  border-bottom: 1px solid $gray-line;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;

  @include mq(max, 767) {
    display: block;
    border-bottom: none;
  }

  li {
    border-left: 1px solid $gray-line;
    width: 100%;

    @include mq(max, 767) {
      border-left: none;
      border-bottom: 1px solid $gray-line;
      margin-bottom: 5px;
    }


    &:first-child {
      border-left: none;
    }

    &:last-child {
      padding-right: 0;
    }

    p {
      font-size: 17px;
      @include arial(regular400);
      text-align: center;
      margin-bottom: 18px;

      @include mq(max, 767) {
        margin-bottom: 5px;
      }

      span {
        display: block;
        font-weight: bold;
        color: $darkred;
        margin-top: 10px;

        @include mq(max, 767) {
          margin-top: 5px;
        }
      }
    }
  }
}

//mb12
.mb12 {
  margin-bottom: 12px !important;
}

//outer-product
.outer-product {

}

//search-icon
.search-icon {
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 99;

  a {
    color: $black;
    font-size: 15px;

  }
}

//modal-imgshow
.modal-imgshow {
  margin: 0 auto;

  .modal-content {

    .item {
      height: 100vh;
      overflow: hidden;

      img {
        margin: 0 auto;
        width: auto;
        height: 100%;
      }
    }

    .close {
      z-index: 99;
    }

    .modal-body {
      padding: 0 15px;
    }

    .modal-header {
      padding: 0;
    }
  }

  //owl-prev
  .owl-prev {
    position: absolute;
    top: 50%;
    right: auto;
    left: 0;

    img {
      margin: 0;
      width: auto;
      height: auto;
    }
  }

  //owl-next
  .owl-next {
    position: absolute;
    top: 50%;
    right: 0;

    img {
      margin: 0;
      width: auto;
      height: auto;
    }
  }
}

//thnx-body
.thnx-body {
  padding: 50px 15px;

  @include mq(min, 992) {
    padding: 93px 15px;
    @include img-center(both);
    width: 100%;
  }
}


//thnx-body2
.thnx-body2 {
  padding: 50px 15px;

  @include mq(min, 992) {
    padding: 60px 15px;
  }
}

//thnx-text
.thnx-text {
  p {
    font-size: 17px;
    @include arial(medium500);

    strong {
      margin-bottom: 1px;
      display: block;
    }
  }

  &.f21 {
    p {
      font-size: 21px;
    }
  }

  ul {
    margin-top: 55px;

    li {
      display: inline-block;

      .btn-supprimer {
        font-size: 21px;
        @include arial(regular400);
        color: $black;
        text-transform: capitalize;
        padding: 2px 32px;
        border: 1px solid $border;
        min-width: 106px;
        @include border-radius(0);
        margin-bottom: 10px;
        margin-right: 25px;

        &:hover{
          background: $yellow;
          border-color: $yellow;
          color: $white;
          @include border-radius(0);
        }

        &:focus, &:hover{
          background: $yellow;
          border-color: $yellow;
          color: $white;
          @include border-radius(0);
        }

      }

      &:last-child {
        .btn-supprimer {
          margin-right: 0;
        }
      }
    }
  }
}

//lgpop-footer
.lgpop-footer {
  .btn-simple {
    width: 100%;
    margin-bottom: 18px;

    &.bg-gray {
      margin-bottom: 18px;
    }
  }
}

//login-body
.login-body {
  padding: 0;

  .close {
  }

  .login-form {
    padding: 51px 58px 30px;
    width: 47%;

    @include mq(max, 992) {
      width: 100%;
      padding: 50px 58px 30px;
    }

    @include mq(max, 992) {
      width: 100%;
      padding: 50px 30px 30px;
    }

    //title-heading
    .title-heading {
      margin-bottom: 40px;

      h3 {
        text-transform: none;
      }

      //title-login
      &.title-login {
        margin-bottom: 18px;
      }
    }

    .chams-obligatoire {
      position: absolute;
      right: 71px;
      top: 55px;

      @include mq(max, 767) {
        position: static;
      }
    }


    //google-captcha
    .google-captcha {
      margin: 20px auto;
    }

  }

  .login-details {
    width: 53%;

    @include mq(max, 992) {
      width: 100%;
    }

    .col-md-5 {
      padding-left: 0;

      img {
        object-fit: cover;
        height: 504px;

        @include mq(max, 992) {
          display: none;
        }
      }

      .b-image {
        background: url(../img/login-bg.jpg);
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        position: fixed;
        width: 261px;
        bottom: 0;
        right: 0;
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;

        @include mq(max, 992) {
          display: none;
        }

        @include mq(max, 1199) {
          width: 210px;
        }
      }
    }
  }
}

//end-login-body

//popup-rightSec
.popup-rightSec {
  padding: 58px 10px 58px 0;

  @include mq(max, 1118) {
    padding: 58px 10px 15px 0;
  }

  @include mq(max, 1046) {
    padding: 58px 10px 0 0;
  }

  @include mq(max, 992) {
    padding: 30px 15px;
  }

  h3 {
    font-size: 21px;
    @include arial(regular400);
    color: $black;
    line-height: 1.4;
    margin-bottom: 45px;
  }

  ul {
    margin-left: 35px;

    li {
      list-style-image: url("../img/yellow-right.png");
      padding-left: 5px;
    }
  }

  p {
    font-size: 17px;
    color: $black;
    @include arial(regular400);
    position: relative;
    top: -8px;
    line-height: 1.4;
    margin-bottom: 18px;

    &.yellow-color {
      color: $yellow;
      font-weight: bold;

      img {
        display: inline-block;
      }
    }
  }
}

//end-outer-product


/*=============================================================================================
---------------------------- loin-poup --------------------------------------------
===================================================================================================*/
.w100p {
  width: 100%;
}

/*=============================================================================================
---------------------------- loin-poup --------------------------------------------
===================================================================================================*/
/*=============================================================================================
---------------------------- zoom image --------------------------------------------
===================================================================================================*/

img[data-action="zoom"] {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
}

.zoom-img,
.zoom-img-wrap {
  position: relative;
  z-index: 666;
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
}

img.zoom-img {
  cursor: pointer;
  cursor: -webkit-zoom-out;
  cursor: -moz-zoom-out;
}

.zoom-overlay {
  z-index: 420;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  filter: "alpha(opacity=0)";
  opacity: 0;
  -webkit-transition: opacity 300ms;
  -o-transition: opacity 300ms;
  transition: opacity 300ms;
}

.zoom-overlay-open .zoom-overlay {
  filter: "alpha(opacity=100)";
  opacity: 1;
}

.zoom-overlay-open,
.zoom-overlay-transitioning {
  cursor: default;
}

/*=============================================================================================
---------------------------- end-zoom image --------------------------------------------
===================================================================================================*/


//sharing-popup
.sharing-popup {
  display: flex;
  justify-content: space-around;
  padding: 0 50px;

  li {


    a {
      width: 151px;
      height: 151px;
      border: 1px solid $border;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
