//Color-Variable
$white: #fff;
$black: #000;
$lightblack: #2f2f2f;
$lblk-button: #333333;
$lblk-btn: #424242;
$yellow: #f1ab00;
$orange: #fc6702;
$darkred: #d35400;
$gray: #f5f5f5;
$gray-down: #f3f3f6;
$dark-gray: #e9e9e9;
$gray-line: #ebebeb;
$blk2: #989898;
$graybtn: #adadad;
$border: #d0cdcd;
$p-color: #868b98;
